*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.footer{
  height: 150vh;
  width: 100%;
  background-image:radial-gradient(rgba(0,0,0,0.5),rgb(115, 60, 255)),  url("/csitDep.jpg");
  background-position:bottom;
  background-size:contain;
}




